{%- comment -%}
  Product info: Collection line
  Expects: {% render 'product-info-collection', block: block, product: product, collection: collection %}
{%- endcomment -%}

{%- assign s = block.settings -%}

{%- comment -%}
  Display collection name from product metafield pool_key.
{%- endcomment -%}
{%- liquid
  assign pool_key = product.metafields.custom.pool_key | strip | downcase
  assign pool_collection = collections[pool_key]
  assign pool_title = ''
  if pool_collection != blank
    assign pool_title = pool_collection.title
  elsif pool_key != blank
    assign pool_title = pool_key
  else
    assign pool_title = 'Unknown'
  endif

  assign real_name = product.metafields.custom.real_collection | strip
  assign real_handle = product.metafields.custom.real_collection_handle | strip
  assign real_col = ''
  if real_handle != blank
    assign real_col = collections[real_handle]
  endif

  assign fallback_collection = ''
  if real_handle == blank
    for product_collection in product.collections
      unless product_collection.handle == 'all' or product_collection.handle == 'catalog'
        assign fallback_collection = product_collection
        break
      endunless
    endfor
  endif
-%}

<p
  class="product-collection"
  data-bl-pool-key="{{ pool_key }}"
  data-bl-pool-title="{{ pool_title | escape }}"
  style="
    --pc-mt: {{ s.margin_top | default: 0 }}px;
    --pc-mb: {{ s.margin_bottom | default: 8 }}px;
    --pc-fs: {{ s.font_size | default: 14 }}px;
  "
>
  {%- if s.label != blank -%}
    <span class="product-collection__label">
      {{ s.label }}
    </span>
  {%- endif -%}

  {%- if real_handle != blank -%}
    {%- assign real_label = real_name | default: real_handle -%}
    {%- if real_col != blank -%}
      <a class="product-collection__link" href="{{ real_col.url }}">
        {{ real_name | default: real_col.title }}
      </a>
    {%- else -%}
      <a class="product-collection__link" href="/collections/{{ real_handle }}">
        {{ real_label }}
      </a>
    {%- endif -%}
  {%- elsif s.show_link and pool_collection != blank -%}
    <a class="product-collection__link" href="{{ pool_collection.url }}">
      {{ pool_title }}
    </a>
  {%- elsif s.show_link and fallback_collection != blank -%}
    <a class="product-collection__link" href="{{ fallback_collection.url }}">
      {{ fallback_collection.title }}
    </a>
  {%- else -%}
    <span class="product-collection__link">
      {{ pool_title | default: fallback_collection.title }}
    </span>
  {%- endif -%}
</p>
